/* fontes */
@font-face {font-family: padrao;src: url(../fonts/m);}
@font-face {font-family: padraobold;src: url(../fonts/mb);}
/* ------ */

/* backgrounds */
$bgmenu1: white;
$bgsite1: rgb(150, 212, 208);
$bgsite2: url("../img/bgbg.png");
$bghpanel1:white;
$fontcolor1:#04224b;
/* ----------- */

/* shadows */
$shadow1:0px 0px 7px rgba(0, 0, 0, 0.75);
/* ------- */