/* fontes */
@font-face {font-family: padrao;src: url(../fonts/m);}
@font-face {font-family: padraobold;src: url(../fonts/mb);}
/* ------ */

/* backgrounds */
$corbase:#00a99d;
$corbase1:#61d3cb;
$bgmenu1: white;
$bgsite1: rgb(255, 255, 255);
$bgsite2: url("../img/bgbg.png");
$bghpanel1:white;
$fontcolor1:#04224b;
/* ----------- */

/* shadows */
$shadow1:0px 0px 7px rgba(0, 0, 0, 0.75);
/* ------- */


/* VITOR*MARGIN*SYSTEM */
.mt{margin-top: 5px;}
.mt2{margin-top: 10px;}
.mt3{margin-top: 20px;}
.mb{margin-bottom: 5px;}
.mb2{margin-bottom: 10px;}
.mb3{margin-bottom: 20px;}
/* +x+x+x+x+x+x+x+x+x+ */