/*v*****vPALETA PRINCIPALv*****v*/
$roxo: rgba(31, 32, 65, 1);
$amarelo: rgba(255, 200, 87, 1);
$azul: rgba(17, 157, 164, 1);
$laranja: rgba(237, 37, 37, 1);
$branco: rgba(241, 247, 237, 1);
/*^*****^PALETA PRINCIPAL^*****^*/
