@import "master";
 
#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}
 
#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
    background-image: url(../img/gshomepage1.jpg)
   /*  background-color: $bgsite1;
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0.35) 0%, rgba(0, 169, 157, 1) 100%);
    FF3.6-15
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0.35) 0%, rgba(0, 169, 157, 1) 100%);
    Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0.35) 0%, rgba(0, 169, 157, 1) 100%);
    W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#597db9e8', endColorstr='#00a99d', GradientType=0);
    IE6-9 */
}
/* ++Geral++ */


#gtlogo {
    padding-top: 5px;
}


/* --------- */


/* +Estilo do MENU+ */

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000;
    /*Cor do text hover no navbar*/
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: #030033;
    /*Cor do bg quando ativo*/
}

.navbar-default {
    background-color: $bgmenu1;
    border-style: none;
    border-radius: 0px;
    box-shadow: 0px 0px 7px;
    /* Estilo default do menu */
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;
    /*Cor dos links no drop down*/
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: silver;
    /*Change rollover cell color here*/
}

.navbar-default .navbar-nav>li>a {
    color: $fontcolor1;
    /*Cor do texto quando ativo*/
}


/* ---------------- */


/* +Estilo do PANEL+ */

.panel {
    border-style: none;
    box-shadow: 0px 0px 7px;
    border-radius: 0px;
    font-family: 'padrao';
    /* Estilo do corpo do panel */
}

.panel-body.no-gutter {
    padding: 0px;
}

.panel-default>.panel-heading,
{
    margin-bottom: -20px;
    font-size: 25px;
    background-color: $bghpanel1;
    border-style: none;
    border-radius: 0px;
    font-family: 'padraobold';
    /* Estilo do header no panel-default */
}

.panel-primary>.panel-heading,
{
    margin-bottom: 20px;
    border-style: none;
    border-radius: 0px;
    font-family: 'padraobold';
    /* Estilo do header no panel-default */
}


/* ----------------- */


/* +Estilo do button+ */

.btnbtn>.btn {
    height: 45px;
    border-radius: 0px;
    margin-bottom: -30px;
}

.btnbtn2>.btn {
    height: 45px;
    border-radius: 0px;
    margin-top: 30px;
}


/* ------------------ */


/* +Estilo do campo de texto+ */

/* -------------------------- */

.btn-primary,
.panel-primary>.panel-heading {
    background-color: $corbase1;
    border-style: none;
}