@charset "UTF-8";
/* fontes */
@font-face {
  font-family: padrao;
  src: url(../fonts/m); }
@font-face {
  font-family: padraobold;
  src: url(../fonts/mb); }
/* ------ */
/* backgrounds */
/* ----------- */
/* shadows */
/* ------- */
/* VITOR*MARGIN*SYSTEM */
.mt {
  margin-top: 5px; }

.mt2 {
  margin-top: 10px; }

.mt3 {
  margin-top: 20px; }

.mb {
  margin-bottom: 5px; }

.mb2 {
  margin-bottom: 10px; }

.mb3 {
  margin-bottom: 20px; }

/* +x+x+x+x+x+x+x+x+x+ */
#fundo-externo {
  overflow: hidden;
  /* para que n├úo tenha rolagem se a imagem de fundo for maior que a tela */
  width: 100%;
  height: 100%;
  position: relative;
  /* criamos um contexto para posicionamento */ }

#fundo {
  position: fixed;
  /* posi├º├úo fixa para que a poss├¡vel rolagem da tela n├úo revele espa├ºos em branco */
  width: 100%;
  height: 100%;
  background-image: url(../img/gshomepage1.jpg); }

/* ++Geral++ */
#gtlogo {
  padding-top: 5px; }

/* --------- */
/* +Estilo do MENU+ */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  /*Cor do text hover no navbar*/ }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #030033;
  /*Cor do bg quando ativo*/ }

.navbar-default {
  background-color: white;
  border-style: none;
  border-radius: 0px;
  box-shadow: 0px 0px 7px;
  /* Estilo default do menu */ }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF;
  /*Cor dos links no drop down*/ }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver;
  /*Change rollover cell color here*/ }

.navbar-default .navbar-nav > li > a {
  color: #04224b;
  /*Cor do texto quando ativo*/ }

/* ---------------- */
/* +Estilo do PANEL+ */
.panel {
  border-style: none;
  box-shadow: 0px 0px 7px;
  border-radius: 0px;
  font-family: 'padrao';
  /* Estilo do corpo do panel */ }

.panel-body.no-gutter {
  padding: 0px; }

.panel-default > .panel-heading {
  margin-bottom: -20px;
  font-size: 25px;
  background-color: white;
  border-style: none;
  border-radius: 0px;
  font-family: 'padraobold';
  /* Estilo do header no panel-default */ }

.panel-primary > .panel-heading {
  margin-bottom: 20px;
  border-style: none;
  border-radius: 0px;
  font-family: 'padraobold';
  /* Estilo do header no panel-default */ }

.btn-primary,
.panel-primary > .panel-heading {
  background-color: #61d3cb;
  border-style: none; }

/* ----------------- */
/* +Estilo do button+ */
.btnbtn > .btn {
  height: 45px;
  border-radius: 0px;
  margin-bottom: -30px; }

.btnbtn2 > .btn {
  height: 45px;
  border-radius: 0px;
  margin-top: 30px; }

/* ------------------ */
/* +Estilo do campo de texto+ */
/* -------------------------- */
/* Estilos RADIO & CHECKBOX */
.funkyradio div {
  clear: both;
  overflow: hidden; }

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal; }

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none; }

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px; }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888; }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2; }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777; }

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc; }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999; }

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc; }

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #61d3cb; }

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c; }

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f; }

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e; }

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de; }

/* o-o-o-o-o-o-oo-o-o-o-o-o */

/*# sourceMappingURL=main.css.map */
